<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>723939200240-obn2qj2qr5muh0bjbiq1717figp5eq6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723939200240-obn2qj2qr5muh0bjbiq1717figp5eq6s</string>
	<key>API_KEY</key>
	<string>AIzaSyAdhwyZriQiGVtiWB00SkfzrHaPyeM0RHw</string>
	<key>GCM_SENDER_ID</key>
	<string>723939200240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ohlulu.account</string>
	<key>PROJECT_ID</key>
	<string>money-run-4e154</string>
	<key>STORAGE_BUCKET</key>
	<string>money-run-4e154.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:723939200240:ios:b2af6bbc5cd61c24</string>
	<key>DATABASE_URL</key>
	<string>https://money-run-4e154.firebaseio.com</string>
</dict>
</plist>